:root{font-size: 16px;}
@fontcolor:#000000;
@maincolor: #005789;
@subcolor:#ffffff;
@hovercolor: #63c6ff;
@mobidivice:768px;
@sm: 576px;
@md:768px;
@lg:992px;
@xl:1200px;
@xxl:1400px;
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
//版位調整不顯示
section.homeAboutList,
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators,
ul.hotKey,
footer {
    display: none;
}
a:link{
    text-decoration: none;
}
body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}
.mophone {
    color: @maincolor;
}

@media (min-width:@mobidivice) {
    .mophone {
        color: #ff334d;
    }
}
/* 調整頭部主選單 */
nav.navbar{
    height: 70px;
    max-height: 100px;
    background-color: @maincolor;
    position: fixed;
    font-family: 'Noto Sans TC';
    padding-top: 0;
    padding-bottom: 0;
    //調整手機瀏覽選單logo大小
    .navbar__brand img {
        max-height: 100%;
        margin-left: 15px;
    }
    //調整手機版漢堡線顏色
    .navbar-toggler span{
        background: @subcolor;
    }
    //小尺寸瀏覽主選單調整
    .navbar-collapse {
        background: rgb(80, 80, 80, 0.8);
        color:@subcolor;
        ul.nav a.nav-link{
            color: @subcolor;
            padding-left: 1.6rem;
        }
        li.navbar-nav__dropdown {
            a.nav-link.active {
                padding-left: 2.3rem;
                color: @hovercolor;
            }
            a.nav-link:before{
                left: 0.2rem;
                transition: left 0.5s;
            }
            a.nav-link.active:before {
                left: 1rem;
            }
        }

    }
    //大尺寸瀏覽子選單設定
    >.dropdown-menu-scroll{
        max-height: 99vh;
    }
    ul.nav a.nav-link{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    ul.nav a.nav-link {
        border-bottom: 2px solid transparent;
    }
    .dropdown-menu-scroll li .nav-link:hover,
    .dropdown-menu-scroll li .nav-link.active{
            border-bottom: 2px solid @hovercolor;
    }
    .navbar-nav>li>.nav-link:before {
        display: block;
        position: absolute;
        top: 0.73rem;
        left: -0.15rem;
        content: "";
        background: url(../images/hoveicon.png);
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        opacity: 0;
        transition: opacity .8s;
    }
    .navbar-nav>li>.nav-link:hover:before{
        opacity: 1;
    }
    .navbar-nav>li>.nav-link:after{
            background-color: transparent;
    }
}
@media (min-width:@lg) {
        nav.navbar {
            height: 100px;
            .navbar-collapse{
                background-color: transparent;
            }
            .nav-link:hover,
            .nav-link.active {
                color: @hovercolor;
            }
    }

}
//調整輪播
#carouselBanner {
    background:@subcolor;
    padding: 15px 15px 0;
    margin-top: 70px;
}
.carousel-item img {
    width: 100%;
}
@media (min-width:@lg) {
    #carouselBanner {
        margin-top: 100px;
    }
}
//調整最新消息
.homeNewsList{
    background: url('/images/draw.png') no-repeat;
    background-size: 170%;
    background-position: -240px -15px;
    .page-title.mb-3 h4 {
        display: block;
        width: 210px;
        height: 29px;
        background: url('/images/huodong_title.png');
        color: transparent;
    }
    .page-title__title:after{
        display: none;
    }
    .index-news{
        justify-content: center;
        .news-box__img{
            height: 100%;
            position: relative;
        }
    }
    div.news-box__img::after{
        position: absolute;
        z-index: 3;
        right: 0;
        bottom: 0;
        display: block;
        content: "";
        width: 70px;
        height: 70px;
        background:url('/images/plusicon.png')no-repeat;
        background-size: contain;
        opacity: 0.7;
        transition: opacity 0.8s;
    }

    //調整最新消息
    .news-box__bottom{
        flex-direction: column;
        justify-content: center;
        height: 55px;
        overflow: hidden;
        //日期
        .news-box__date{
            background-color: transparent;
            width: 100%;
            color: @fontcolor;
            display: flex;
            flex-direction: row;
            justify-self: start;
            font-size: 1rem;
            height: unset;
        }
        .news-box__date::after{
            content: '日';
        }
        .news-box__date small {
            color: @fontcolor;
            font-size: 1rem;
            order: -1;
        }
        .news-box__content{
            padding: unset;
        }
        //文章標題
        .news-box__content__title *{
            padding: unset;
            font-size: 1rem;
            text-decoration: none;
            color: @fontcolor;
        }
        p.news-box__content__p{
            display: none;
        }
    }
    .news-box:hover .news-box__content__title span,
    .news-box:hover .news-box__date *,
    .news-box:hover .news-box__date {
        color: @hovercolor;
        text-decoration: none;
    }
    .news-box:hover div.news-box__img::after {
            opacity: 1;
        }

}
@media (min-width:@md) {
    .homeNewsList {
        background: url('/images/draw.png') no-repeat;
        background-size: contain;
        background-position: 0 -25px;
        div.news-box__img::after {
            width: 40px;
            height: 40px;
        }
    }
}
@media (min-width:@lg) {
    .homeNewsList {
        div.news-box__img::after {
            width: 60px;
            height: 60px;
        }
    }
}
@media (min-width:@xl) {
    .homeNewsList {
        div.news-box__img::after {
            width: 70px;
            height: 70px;
        }
    }
}
//首頁主內容wrap
.indexcontent {
    width: 100%;
}
//龜組的首頁各區塊副標題
.brandWrap{
    .page-title {
        h4.page-title__title {
            padding: unset;
            color: transparent;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 30px;
        }
        h4.page-title__title::after {
            display: none;
        }
        //768以下區域品牌用的窄尺寸標題圖
        h4.page-title__title.brand {
            background-image: url('/images/donghaian_tite_sm.png');
            height: 60px;
        }
    }
}
//768以上區域品牌使用的寬尺寸標題圖
@media (min-width:@md) {
    //768以上區域品牌用的窄尺寸標題圖
    h4.page-title__title.brand {
        background-image: url('/images/donghaian_tite_sm.png');
        height: 30px;
    }
}
//區域品牌
.brandWrap {
    width: 100%;
    height: 550px;
    background-color: #e8e8e8;
    background-image: url('/images/donghaian_bg.png');
    background-size: cover;
    padding: 70px 0;
    background-position: 25rem 4rem;
}
//768viewport以上版面調整
@media (min-width:@md) {
    .brandWrap {

    }
}
//11精選
//768viewport以下排版
section.selection{
    position: relative;
    width: 100%;
    height: 45vh;
    background-image: url('/images/11selecg_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
    .text11 img{
        position: absolute;
        width: 11rem;
        top: 5rem;
        left: 5rem;
    }
    .road_text img{
        position: absolute;
        width: 16rem;
        top: 8rem;
    }
}

@media (min-width:@md) {
    section.selection {
        position: relative;
        width: 100%;
        height: 45vh;
        background-image: url('/images/11selecg_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70% 0;
        .text11 img {
            position: absolute;
            width: 11rem;
            top: 11rem;
            left: 5rem;
        }
        .road_text img {
            position: absolute;
            width: 16rem;
            top: 14rem;
        }
    }
}