@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
:root {
  font-size: 16px;
}
section.homeAboutList,
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators,
ul.hotKey,
footer {
  display: none;
}
a:link {
  text-decoration: none;
}
body {
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}
.mophone {
  color: #005789;
}
@media (min-width: 768px) {
  .mophone {
    color: #ff334d;
  }
}
/* 調整頭部主選單 */
nav.navbar {
  height: 70px;
  max-height: 100px;
  background-color: #005789;
  position: fixed;
  font-family: 'Noto Sans TC';
  padding-top: 0;
  padding-bottom: 0;
}
nav.navbar .navbar__brand img {
  max-height: 100%;
  margin-left: 15px;
}
nav.navbar .navbar-toggler span {
  background: #ffffff;
}
nav.navbar .navbar-collapse {
  background: #505050;
  color: #ffffff;
}
nav.navbar .navbar-collapse ul.nav a.nav-link {
  color: #ffffff;
  padding-left: 1.6rem;
}
nav.navbar .navbar-collapse li.navbar-nav__dropdown a.nav-link.active {
  padding-left: 2.3rem;
  color: #63c6ff;
}
nav.navbar .navbar-collapse li.navbar-nav__dropdown a.nav-link:before {
  left: 0.2rem;
  transition: left 0.5s;
}
nav.navbar .navbar-collapse li.navbar-nav__dropdown a.nav-link.active:before {
  left: 1rem;
}
nav.navbar > .dropdown-menu-scroll {
  max-height: 99vh;
}
nav.navbar ul.nav a.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
nav.navbar ul.nav a.nav-link {
  border-bottom: 2px solid transparent;
}
nav.navbar .dropdown-menu-scroll li .nav-link:hover,
nav.navbar .dropdown-menu-scroll li .nav-link.active {
  border-bottom: 2px solid #63c6ff;
}
nav.navbar .navbar-nav > li > .nav-link:before {
  display: block;
  position: absolute;
  top: 0.73rem;
  left: -0.15rem;
  content: "";
  background: url(../images/hoveicon.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.8s;
}
nav.navbar .navbar-nav > li > .nav-link:hover:before {
  opacity: 1;
}
nav.navbar .navbar-nav > li > .nav-link:after {
  background-color: transparent;
}
@media (min-width: 992px) {
  nav.navbar {
    height: 100px;
  }
  nav.navbar .navbar-collapse {
    background-color: transparent;
  }
  nav.navbar .nav-link:hover,
  nav.navbar .nav-link.active {
    color: #63c6ff;
  }
}
#carouselBanner {
  background: #ffffff;
  padding: 15px 15px 0;
  margin-top: 70px;
}
.carousel-item img {
  width: 100%;
}
@media (min-width: 992px) {
  #carouselBanner {
    margin-top: 100px;
  }
}
.homeNewsList {
  background: url('/images/draw.png') no-repeat;
  background-size: 170%;
  background-position: -240px -15px;
}
.homeNewsList .page-title.mb-3 h4 {
  display: block;
  width: 210px;
  height: 29px;
  background: url('/images/huodong_title.png');
  color: transparent;
}
.homeNewsList .page-title__title:after {
  display: none;
}
.homeNewsList .index-news {
  justify-content: center;
}
.homeNewsList .index-news .news-box__img {
  height: 100%;
  position: relative;
}
.homeNewsList div.news-box__img::after {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 70px;
  height: 70px;
  background: url('/images/plusicon.png') no-repeat;
  background-size: contain;
  opacity: 0.7;
  transition: opacity 0.8s;
}
.homeNewsList .news-box__bottom {
  flex-direction: column;
  justify-content: center;
  height: 55px;
  overflow: hidden;
}
.homeNewsList .news-box__bottom .news-box__date {
  background-color: transparent;
  width: 100%;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-self: start;
  font-size: 1rem;
  height: unset;
}
.homeNewsList .news-box__bottom .news-box__date::after {
  content: '日';
}
.homeNewsList .news-box__bottom .news-box__date small {
  color: #000000;
  font-size: 1rem;
  order: -1;
}
.homeNewsList .news-box__bottom .news-box__content {
  padding: unset;
}
.homeNewsList .news-box__bottom .news-box__content__title * {
  padding: unset;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
}
.homeNewsList .news-box__bottom p.news-box__content__p {
  display: none;
}
.homeNewsList .news-box:hover .news-box__content__title span,
.homeNewsList .news-box:hover .news-box__date *,
.homeNewsList .news-box:hover .news-box__date {
  color: #63c6ff;
  text-decoration: none;
}
.homeNewsList .news-box:hover div.news-box__img::after {
  opacity: 1;
}
@media (min-width: 768px) {
  .homeNewsList {
    background: url('/images/draw.png') no-repeat;
    background-size: contain;
    background-position: 0 -25px;
  }
  .homeNewsList div.news-box__img::after {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 992px) {
  .homeNewsList div.news-box__img::after {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .homeNewsList div.news-box__img::after {
    width: 70px;
    height: 70px;
  }
}
.indexcontent {
  width: 100%;
}
.brandWrap .page-title h4.page-title__title {
  padding: unset;
  color: transparent;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30px;
}
.brandWrap .page-title h4.page-title__title::after {
  display: none;
}
.brandWrap .page-title h4.page-title__title.brand {
  background-image: url('/images/donghaian_tite_sm.png');
  height: 60px;
}
@media (min-width: 768px) {
  h4.page-title__title.brand {
    background-image: url('/images/donghaian_tite_sm.png');
    height: 30px;
  }
}
.brandWrap {
  width: 100%;
  height: 550px;
  background-color: #e8e8e8;
  background-image: url('/images/donghaian_bg.png');
  background-size: cover;
  padding: 70px 0;
  background-position: 25rem 4rem;
}
section.selection {
  position: relative;
  width: 100%;
  height: 45vh;
  background-image: url('/images/11selecg_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0;
}
section.selection .text11 img {
  position: absolute;
  width: 11rem;
  top: 5rem;
  left: 5rem;
}
section.selection .road_text img {
  position: absolute;
  width: 16rem;
  top: 8rem;
}
@media (min-width: 768px) {
  section.selection {
    position: relative;
    width: 100%;
    height: 45vh;
    background-image: url('/images/11selecg_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
  }
  section.selection .text11 img {
    position: absolute;
    width: 11rem;
    top: 11rem;
    left: 5rem;
  }
  section.selection .road_text img {
    position: absolute;
    width: 16rem;
    top: 14rem;
  }
}
